<mat-card>
    <mat-card-title>Daily Reminder Details</mat-card-title>
    <mat-card-content>
        <form [formGroup]="dailyReminderForm" (submit)="saveReminder()">

            <p>
                <mat-form-field appearance="outline" style="width: 500px;">
                    <textarea formControlName="description" matInput
                    placeholder="e.g. Take blood pressure reading / Change wound dressing"></textarea>
                    <mat-label>Description</mat-label>
                    <mat-error class="date-error"
                        *ngIf="dailyReminderForm.get('description')?.hasError('required')">Reminder Title is a Mandatory
                        Field</mat-error>
                </mat-form-field>
            </p>
            <!-- <p *ngIf="timeArray.controls.length>0"> -->

            <div>
                <mat-form-field appearance="outline" style="width: 500px; height: 100px;">
                    <mat-label>Reminder Timings</mat-label>
                    <mat-chip-grid #chipGrid formArrayName="startTime">
                        <mat-chip-row *ngFor="let t of timingArray.controls; let i = index" (removed)="removeTime(i)">
                            {{t.value}} <button matChipRemove><mat-icon>cancel</mat-icon></button>
                        </mat-chip-row>
                        <input type="text" [matChipInputFor]="chipGrid" [matChipInputAddOnBlur]="addOnBlur"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addTime($event)"
                            placeholder="00:00">
                    </mat-chip-grid>
                </mat-form-field>
                <mat-error *ngIf="dailyReminderForm.get('startTime')?.hasError('invalidPattern')"
                    style="font-size: small; margin-top: -20px;">Invalid Time Format (00:00)</mat-error>
            </div>

            <div>
                <button type="submit" mat-raised-button [style.background-color]="isInvalid() ? 'lightgrey' : '#1F7A8C'"
                    style="color:#FFFFFF;" [disabled]="isInvalid()">Schedule Reminder</button>

            </div>

        </form>
    </mat-card-content>

</mat-card>

<!-- <button (click)="test()"> test button</button> -->